@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

:root {
    font-family: "Wix Madefor Display", sans-serif;
    background-color: var(--main-background);
    color:var(--main-text);
    /* */
    --main-background: #3F72AF;
    --main-text: #F9F7F7;
    --secondary-background: #225288;
    --secondary-text: #539af2;
    --third-background: #2a65ad;
    --unnoticible-text: #b4c1d1;

    /* black-theme */
    --main-background: #080808;
    --secondary-background: #171717;
    --secondary-text: #a3d2fc;

    /* white-theme */
    --w-main-background: #dfdede;
    --w-main-text: #333333;
    --w-secondary-background: #f9f9f9;
    --w-secondary-text: #539af2;
    --w-icons-filter: invert(0.2);
    /**/
    --logo-size: 25px;
    --icons-size: 18px;
    --icons-filter: invert(0.85);
    /* reset */
    /*--main-background: var(--w-main-background);
    --main-text: var(--w-main-text);
    --secondary-background: var(--w-secondary-background);
    --secondary-text: var(--w-secondary-text);
    --icons-filter: var(--w-icons-filter);
    */
}

#toptitle::before {
    background-image: url('assets/icons/logo.svg');
    background-size: var(--logo-size) var(--logo-size);
    width: var(--logo-size); 
    height: var(--logo-size);
    display: inline-block;
    content: '';
    margin-right: 4px;
    filter: var(--icons-filter);
    transform: translateY(3px) rotate(-15deg);
}

#views::before {
    background-image: url('assets/icons/views.svg');
    background-size: var(--icons-size) var(--icons-size);
    width: var(--icons-size); 
    height: var(--icons-size);
    display: inline-block;
    content: '';
    margin-right: 5px;
    margin-left: 5px;
    filter: var(--icons-filter);
    transform: translateY(2px);
}

#durability::before {
    background-image: url('assets/icons/durability.svg');
    background-size: var(--icons-size) var(--icons-size);
    width: var(--icons-size); 
    height: var(--icons-size);
    display: inline-block;
    content: '';
    margin-right: 2px;
    filter: var(--icons-filter);
    transform: translateY(2px);
}

nav {
    background-color: var(--secondary-background);
    padding: 10px;
    padding-left: 18px;
    border-radius: 0px 0px 16px 16px;
    margin-bottom: 5%;
}

body {margin: 0;}

#titlef {
    font-size: 25px;
    font-weight: bold;
}

header {
    font-size:x-large;
    font-weight: bold;
}

video {
    width: 80%;
    max-width: 600px;
}

err {
    color: red;
}

#tv {
    color:var(--secondary-text);
}

#toptitle {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 150%;
    font-weight: 400;
}

.card {
    max-width: 70%;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 550px;
    background-color: var(--secondary-background);
    margin-bottom: 15px;
    border-radius: 15px;
}

.card > span {
    font-size: 105%;
}

#date {
    font-size: smaller;
    color: var(--unnoticible-text);
}

#series > a {
    color: var(--main-text);
    text-decoration: none;
}

#series > a:hover {
    color: var(--secondary-text);
}

.preview {
    width: 100%;
    border-radius: 10px;
}

p {
    padding-left: 5%;
    padding-right: 5%;
}

avatar {
    background-color: var(--main-background);
    border-radius: 5px;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 19px;
    width: 30px;
    height: 30px;
    display:inline-table;
    margin-left: -3px;
    margin-right: 3px;
}

profile {
    background-color: var(--secondary-background);
    padding: 10px;
    border-radius: 5px;
}